.deplegable {
	padding: 0px;
	margin: 0px;
}
#header{
	margin: 4px;
	width: 50px	
}
ul, ol {
	list-style: none; 
}
.nav li a{
	background-color: #7BDEE5;
	color: #000;
	text-decoration:none;
	padding: 5px 100px;
	display: block;
}
.nav li a:hover {
	background-color: #fff;
}

.nav > li{
	float: left;
}
.nav li ul {
	display: none;
	position: absolute;
	min-width: 140px;
}
.nav li:hover > ul {
	display: block;
}

.nav li ul li{
	position: relative;
}
.nav li ul li ul{
	right:-140px; 
	top:0px;

}
button{
	background-color: #147DF4;
	padding:6px 2px;
	border: #fff 5px none ;
  	right:
}